# Created by venv; see https://docs.python.org/3/library/venv.html

# Cache e arquivos temporários de teste
__pycache__/
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
nosetests.xml
*.log
*.json

# Relatórios de Testes
relatorio_teste.html

